In [1]:
import pandas as pd
import numpy as np

## Read in BOLD spreadsheet

In [2]:
bold_file = 'raw_data/asilo_bold.xlsx'

In [3]:
bold_df = pd.read_excel(bold_file, sheet_name='Lab Sheet', skiprows=2)
drop_cols = ['Field ID','Catalog Num','Collection Date','Identification',
             'Life Stage','Extra Info','Voucher Type','Institution','Notes']
print(bold_df.columns)
keep_cols = [col for col in bold_df.columns if col not in drop_cols]
bold_df = bold_df[keep_cols]
bold_df.info()

Index(['Project Code', 'Process ID', 'Sample ID', 'Field ID', 'BIN',
       'Catalog Num', 'COI-5P Seq. Length', 'COI-5P Trace Count',
       'COI-5P Accession', 'Image Count', 'Barcode Compliant', 'Contamination',
       'Stop Codon', 'Flagged Record', 'Collection Date', 'Identification',
       'Life Stage', 'Extra Info', 'Voucher Type', 'Institution', 'Notes'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941 entries, 0 to 940
Data columns (total 12 columns):
Project Code          941 non-null object
Process ID            941 non-null object
Sample ID             941 non-null object
BIN                   319 non-null object
COI-5P Seq. Length    878 non-null object
COI-5P Trace Count    843 non-null float64
COI-5P Accession      506 non-null object
Image Count           941 non-null int64
Barcode Compliant     941 non-null object
Contamination         0 non-null float64
Stop Codon            0 non-null float64
Flagged Record        30 non-null object
dtypes: float64(3), int64(1), object(8)
memory usage: 88.3+ KB

In [4]:
voucher_df = pd.read_excel(bold_file, sheet_name='Voucher Info', skiprows=2)
voucher_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941 entries, 0 to 940
Data columns (total 6 columns):
Sample ID              941 non-null object
Field ID               377 non-null object
Museum ID              941 non-null object
Collection Code        941 non-null object
Institution Storing    941 non-null object
Unnamed: 5             0 non-null float64
dtypes: float64(1), object(5)
memory usage: 44.2+ KB

In [5]:
tax_df = pd.read_excel(bold_file, sheet_name='Taxonomy', skiprows=2)
tax_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941 entries, 0 to 940
Data columns (total 14 columns):
Sample ID                941 non-null object
Phylum                   941 non-null object
Class                    941 non-null object
Order                    941 non-null object
Family                   941 non-null object
Subfamily                748 non-null object
Tribe                    0 non-null float64
Genus                    939 non-null object
Species                  703 non-null object
Subspecies               0 non-null float64
Identifier               905 non-null object
Identifier Email         147 non-null object
Identification Method    343 non-null object
Taxonomy Notes           184 non-null object
dtypes: float64(2), object(12)
memory usage: 103.0+ KB

In [6]:
specimen_df = pd.read_excel(bold_file, sheet_name='Specimen Details', skiprows=2)
specimen_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941 entries, 0 to 940
Data columns (total 11 columns):
Sample ID               941 non-null object
Sex                     175 non-null object
Reproduction            4 non-null object
Life Stage              0 non-null float64
Extra Info              31 non-null object
Notes                   233 non-null object
Voucher Status          95 non-null object
Tissue Descriptor       95 non-null object
External URLs           0 non-null float64
Associated Taxa         72 non-null object
Associated Specimens    8 non-null object
dtypes: float64(2), object(9)
memory usage: 80.9+ KB

In [7]:
collection_df = pd.read_excel(bold_file, sheet_name='Collection Data', skiprows=2)
collection_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941 entries, 0 to 940
Data columns (total 23 columns):
Sample ID                   941 non-null object
Collectors                  895 non-null object
Collection Date             939 non-null object
Country/Ocean               941 non-null object
State/Province              544 non-null object
Region                      257 non-null object
Sector                      10 non-null object
Exact Site                  926 non-null object
Lat                         325 non-null float64
Lon                         326 non-null float64
Elev                        287 non-null float64
Depth                       0 non-null float64
Elevation Precision         30 non-null float64
Depth Precision             0 non-null float64
GPS Source                  1 non-null object
Coordinate Accuracy         0 non-null float64
Event Time                  0 non-null float64
Collection Date Accuracy    322 non-null float64
Habitat                     63 non-null object
Sampling Protocol           141 non-null object
Collection Notes            73 non-null object
Site Code                   0 non-null float64
Collection Event ID         0 non-null float64
dtypes: float64(11), object(12)
memory usage: 169.2+ KB

In [8]:
for df in [voucher_df, tax_df, specimen_df, collection_df]:
    bold_df = bold_df.merge(df, on='Sample ID')
bold_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 941 entries, 0 to 940
Data columns (total 62 columns):
Project Code                941 non-null object
Process ID                  941 non-null object
Sample ID                   941 non-null object
BIN                         319 non-null object
COI-5P Seq. Length          878 non-null object
COI-5P Trace Count          843 non-null float64
COI-5P Accession            506 non-null object
Image Count                 941 non-null int64
Barcode Compliant           941 non-null object
Contamination               0 non-null float64
Stop Codon                  0 non-null float64
Flagged Record              30 non-null object
Field ID                    377 non-null object
Museum ID                   941 non-null object
Collection Code             941 non-null object
Institution Storing         941 non-null object
Unnamed: 5                  0 non-null float64
Phylum                      941 non-null object
Class                       941 non-null object
Order                       941 non-null object
Family                      941 non-null object
Subfamily                   748 non-null object
Tribe                       0 non-null float64
Genus                       939 non-null object
Species                     703 non-null object
Subspecies                  0 non-null float64
Identifier                  905 non-null object
Identifier Email            147 non-null object
Identification Method       343 non-null object
Taxonomy Notes              184 non-null object
Sex                         175 non-null object
Reproduction                4 non-null object
Life Stage                  0 non-null float64
Extra Info                  31 non-null object
Notes                       233 non-null object
Voucher Status              95 non-null object
Tissue Descriptor           95 non-null object
External URLs               0 non-null float64
Associated Taxa             72 non-null object
Associated Specimens        8 non-null object
Collectors                  895 non-null object
Collection Date             939 non-null object
Country/Ocean               941 non-null object
State/Province              544 non-null object
Region                      257 non-null object
Sector                      10 non-null object
Exact Site                  926 non-null object
Lat                         325 non-null float64
Lon                         326 non-null float64
Elev                        287 non-null float64
Depth                       0 non-null float64
Elevation Precision         30 non-null float64
Depth Precision             0 non-null float64
GPS Source                  1 non-null object
Coordinate Accuracy         0 non-null float64
Event Time                  0 non-null float64
Collection Date Accuracy    322 non-null float64
Habitat                     63 non-null object
Sampling Protocol           141 non-null object
Collection Notes            73 non-null object
Site Code                   0 non-null float64
Collection Event ID         0 non-null float64
dtypes: float64(19), int64(1), object(42)
memory usage: 463.1+ KB

In [9]:
bold_df = bold_df.dropna(axis=1, how='all')
bold_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 941 entries, 0 to 940
Data columns (total 49 columns):
Project Code                941 non-null object
Process ID                  941 non-null object
Sample ID                   941 non-null object
BIN                         319 non-null object
COI-5P Seq. Length          878 non-null object
COI-5P Trace Count          843 non-null float64
COI-5P Accession            506 non-null object
Image Count                 941 non-null int64
Barcode Compliant           941 non-null object
Flagged Record              30 non-null object
Field ID                    377 non-null object
Museum ID                   941 non-null object
Collection Code             941 non-null object
Institution Storing         941 non-null object
Phylum                      941 non-null object
Class                       941 non-null object
Order                       941 non-null object
Family                      941 non-null object
Subfamily                   748 non-null object
Genus                       939 non-null object
Species                     703 non-null object
Identifier                  905 non-null object
Identifier Email            147 non-null object
Identification Method       343 non-null object
Taxonomy Notes              184 non-null object
Sex                         175 non-null object
Reproduction                4 non-null object
Extra Info                  31 non-null object
Notes                       233 non-null object
Voucher Status              95 non-null object
Tissue Descriptor           95 non-null object
Associated Taxa             72 non-null object
Associated Specimens        8 non-null object
Collectors                  895 non-null object
Collection Date             939 non-null object
Country/Ocean               941 non-null object
State/Province              544 non-null object
Region                      257 non-null object
Sector                      10 non-null object
Exact Site                  926 non-null object
Lat                         325 non-null float64
Lon                         326 non-null float64
Elev                        287 non-null float64
Elevation Precision         30 non-null float64
GPS Source                  1 non-null object
Collection Date Accuracy    322 non-null float64
Habitat                     63 non-null object
Sampling Protocol           141 non-null object
Collection Notes            73 non-null object
dtypes: float64(6), int64(1), object(42)
memory usage: 367.6+ KB

In [10]:
bold_df.to_csv('processed_data/asilo_bold.tsv', index=False, sep='\t')

## Pull out taxonomic names, and clean up

In [11]:
bold_df = pd.read_csv('processed_data/asilo_bold.tsv', sep='\t')
bold_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941 entries, 0 to 940
Data columns (total 49 columns):
Project Code                941 non-null object
Process ID                  941 non-null object
Sample ID                   941 non-null object
BIN                         319 non-null object
COI-5P Seq. Length          878 non-null object
COI-5P Trace Count          843 non-null float64
COI-5P Accession            506 non-null object
Image Count                 941 non-null int64
Barcode Compliant           941 non-null object
Flagged Record              30 non-null object
Field ID                    377 non-null object
Museum ID                   941 non-null object
Collection Code             941 non-null object
Institution Storing         941 non-null object
Phylum                      941 non-null object
Class                       941 non-null object
Order                       941 non-null object
Family                      941 non-null object
Subfamily                   748 non-null object
Genus                       939 non-null object
Species                     703 non-null object
Identifier                  905 non-null object
Identifier Email            147 non-null object
Identification Method       343 non-null object
Taxonomy Notes              184 non-null object
Sex                         175 non-null object
Reproduction                4 non-null object
Extra Info                  31 non-null object
Notes                       233 non-null object
Voucher Status              95 non-null object
Tissue Descriptor           95 non-null object
Associated Taxa             72 non-null object
Associated Specimens        8 non-null object
Collectors                  895 non-null object
Collection Date             939 non-null object
Country/Ocean               941 non-null object
State/Province              544 non-null object
Region                      257 non-null object
Sector                      10 non-null object
Exact Site                  926 non-null object
Lat                         325 non-null float64
Lon                         326 non-null float64
Elev                        287 non-null float64
Elevation Precision         30 non-null float64
GPS Source                  1 non-null object
Collection Date Accuracy    322 non-null float64
Habitat                     63 non-null object
Sampling Protocol           141 non-null object
Collection Notes            73 non-null object
dtypes: float64(6), int64(1), object(42)
memory usage: 360.3+ KB

In [12]:
tax_cols = ['Phylum','Class','Order','Family','Subfamily','Genus','Species']
bold_tax = bold_df.groupby(tax_cols).size().reset_index(name='tax_count')
bold_tax.head()

,Phylum,Class,Order,Family,Subfamily,Genus,Species,tax_count
0,Arthropoda,Insecta,Diptera,Acroceridae,Acrocerinae,Ogcodes,Ogcodes dispar,1
1,Arthropoda,Insecta,Diptera,Acroceridae,Acrocerinae,Psilodera,Psilodera confusa,1
2,Arthropoda,Insecta,Diptera,Acroceridae,Acrocerinae,Turbopsebius,Turbopsebius brunnipennis,1
3,Arthropoda,Insecta,Diptera,Acroceridae,Panopinae,Apsona,Apsona muscaria,1
4,Arthropoda,Insecta,Diptera,Acroceridae,Panopinae,Eulonchus,Eulonchus smaragdinus,1

In [13]:
len(bold_tax)

553

In [14]:
bold_tax = bold_tax.rename(columns={'Species':'Scientific Name'})

In [15]:
bold_tax['Species'] = bold_tax['Scientific Name'].str.split(' ').str.get(1)
bold_tax['Species'] = bold_tax['Species'].replace({'sp.':np.nan,
                                                 'spp.':np.nan})
bold_tax['Species'] = bold_tax['Species'].fillna('unidentified')
bold_tax[['Genus','Scientific Name','Species']].head()

          Genus            Scientific Name       Species
0       Ogcodes             Ogcodes dispar        dispar
1     Psilodera          Psilodera confusa       confusa
2  Turbopsebius  Turbopsebius brunnipennis  brunnipennis
3        Apsona            Apsona muscaria      muscaria
4     Eulonchus      Eulonchus smaragdinus   smaragdinus

In [16]:
len(bold_tax[bold_tax['Species'] == 'unidentified'])

11

In [17]:
def bold_name(row):
    if pd.notnull('Genus'):
        return "{} {}".format(row['Genus'], row['Species'])
    else:
        return "{} {}".format(row['Family'], row['Species'])

In [18]:
bold_tax['BOLD Name'] = bold_tax.apply(bold_name, axis=1)
bold_tax.head()

,Phylum,Class,Order,Family,Subfamily,Genus,Scientific Name,tax_count,Species,BOLD Name
0,Arthropoda,Insecta,Diptera,Acroceridae,Acrocerinae,Ogcodes,Ogcodes dispar,1,dispar,Ogcodes dispar
1,Arthropoda,Insecta,Diptera,Acroceridae,Acrocerinae,Psilodera,Psilodera confusa,1,confusa,Psilodera confusa
2,Arthropoda,Insecta,Diptera,Acroceridae,Acrocerinae,Turbopsebius,Turbopsebius brunnipennis,1,brunnipennis,Turbopsebius brunnipennis
3,Arthropoda,Insecta,Diptera,Acroceridae,Panopinae,Apsona,Apsona muscaria,1,muscaria,Apsona muscaria
4,Arthropoda,Insecta,Diptera,Acroceridae,Panopinae,Eulonchus,Eulonchus smaragdinus,1,smaragdinus,Eulonchus smaragdinus

## Read in EMu taxonomy file

In [19]:
emu_tax_base = pd.read_csv('raw_data/Taxonomy/etaxonom_clean.csv')
emu_tax_base.info()

/Users/miketrizna/miniconda3/envs/emu/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310392 entries, 0 to 310391
Data columns (total 19 columns):
etaxonomy_key              310392 non-null int64
irn                        310392 non-null int64
ClaKingdom                 309832 non-null object
ClaPhylum                  309832 non-null object
ClaClass                   309001 non-null object
ClaOrder                   309693 non-null object
ClaSuperfamily             21349 non-null object
ClaFamily                  309731 non-null object
ClaSubfamily               130757 non-null object
ClaTribe                   64984 non-null object
ClaSubtribe                7359 non-null object
ClaGenus                   305059 non-null object
ClaSubgenus                24540 non-null object
ClaSpecies                 304319 non-null object
AutAuthorString            288189 non-null object
AdmPublishWebNoPassword    310392 non-null object
AdmPublishWebPassword      310392 non-null object
AdmDateModified            310392 non-null object
AdmDateInserted            310392 non-null object
dtypes: int64(2), object(17)
memory usage: 45.0+ MB

In [20]:
len(emu_tax_base[emu_tax_base['ClaSpecies'] == 'unidentified'])

6649

## Match up species with EMu taxonomy

In [21]:
merged = emu_tax_base.merge(bold_tax, left_on=['ClaFamily','ClaGenus','ClaSpecies'],
                            right_on=['Family','Genus','Species'])
len(merged)

163

In [22]:
merged.head()

,etaxonomy_key,irn,ClaKingdom,ClaPhylum,ClaClass,ClaOrder,ClaSuperfamily,ClaFamily,ClaSubfamily,ClaTribe,...,Phylum,Class,Order,Family,Subfamily,Genus,Scientific Name,tax_count,Species,BOLD Name
0,1476,9100466,Animalia,Arthropoda,Insecta,Diptera,NaN,Sarcophagidae,NaN,NaN,...,Arthropoda,Insecta,Diptera,Sarcophagidae,Miltogramminae,Phrosinella,Phrosinella aurifacies,1,aurifacies,Phrosinella aurifacies
1,5234,9132109,Animalia,Arthropoda,Insecta,Diptera,NaN,Tachinidae,NaN,NaN,...,Arthropoda,Insecta,Diptera,Tachinidae,Dexiinae,Chaetoplagia,Chaetoplagia atripennis,1,atripennis,Chaetoplagia atripennis
2,10867,9199856,Animalia,Arthropoda,Insecta,Diptera,NaN,Sarcophagidae,NaN,NaN,...,Arthropoda,Insecta,Diptera,Sarcophagidae,Agriinae,Agria,Agria affinis,1,affinis,Agria affinis
3,15673,9140991,Animalia,Arthropoda,Insecta,Diptera,NaN,Acroceridae,NaN,NaN,...,Arthropoda,Insecta,Diptera,Acroceridae,Panopinae,Eulonchus,Eulonchus smaragdinus,1,smaragdinus,Eulonchus smaragdinus
4,15770,9132265,Animalia,Arthropoda,Insecta,Diptera,NaN,Calliphoridae,NaN,NaN,...,Arthropoda,Insecta,Diptera,Calliphoridae,Calliphorinae,Cyanus,Cyanus elongatus,1,elongatus,Cyanus elongatus

## Export matched species, and new species to upload

In [23]:
matched_names = merged['BOLD Name'].tolist()
not_matched = bold_tax[~bold_tax['BOLD Name'].isin(matched_names)]
len(not_matched)

392

In [24]:
not_matched.to_csv('processed_data/taxa_unmatched.tsv', sep='\t', index=False)

In [30]:
print(len(not_matched[not_matched['Species'] != 'unidentified']))
print(len(not_matched[not_matched['Species'] == 'unidentified']))

388
4

In [25]:
matched_cols = list(bold_tax.columns) + ['irn']
matched_tax = merged[matched_cols]
matched_tax.head()

,Phylum,Class,Order,Family,Subfamily,Genus,Scientific Name,tax_count,Species,BOLD Name,irn
0,Arthropoda,Insecta,Diptera,Sarcophagidae,Miltogramminae,Phrosinella,Phrosinella aurifacies,1,aurifacies,Phrosinella aurifacies,9100466
1,Arthropoda,Insecta,Diptera,Tachinidae,Dexiinae,Chaetoplagia,Chaetoplagia atripennis,1,atripennis,Chaetoplagia atripennis,9132109
2,Arthropoda,Insecta,Diptera,Sarcophagidae,Agriinae,Agria,Agria affinis,1,affinis,Agria affinis,9199856
3,Arthropoda,Insecta,Diptera,Acroceridae,Panopinae,Eulonchus,Eulonchus smaragdinus,1,smaragdinus,Eulonchus smaragdinus,9140991
4,Arthropoda,Insecta,Diptera,Calliphoridae,Calliphorinae,Cyanus,Cyanus elongatus,1,elongatus,Cyanus elongatus,9132265

In [26]:
matched_tax.to_csv('processed_data/taxa_matched.tsv', sep='\t', index=False)

In [29]:
len(matched_tax[matched_tax['Species'] != 'unidentified'])

156

In [27]:
len(matched_tax[matched_tax['Species'] == 'unidentified'])

7