In [1]:
import pandas as pd

In [2]:
test = pd.read_csv('raw_data/Taxonomy/AutBasio.csv')
test.head()

    A  Unnamed: 1  Unnamed: 2
0 NaN         NaN         NaN
1 NaN         NaN         NaN
2 NaN         NaN         NaN
3 NaN         NaN         NaN
4 NaN         NaN         NaN

In [3]:
with open('raw_data/Taxonomy/AutBasio_clean.csv','w') as outfile:
    with open('raw_data/Taxonomy/AutBasio.csv','r') as infile:
        for line in infile:
            line = line.replace('\x00', '')
            outfile.write(line)

In [4]:
test = pd.read_csv('raw_data/Taxonomy/AutBasio_clean.csv')
test.head()

   AutBasionymAuthorsRef_key  etaxonomy_key        irn
0                          1           1174  9111232.0
1                          2           1192  9104351.0
2                          3           1367  9104351.0
3                          4           1392  9104351.0
4                          5           1408  9100388.0

In [5]:
import os

In [13]:
csv_list = []
for root, dirs, files in os.walk('.'):
    for file in files:
        if file.endswith('.csv'):
            csv_file = os.path.join(root, file)
            csv_list.append(csv_file)
            print(csv_file)

./raw_data/Parties/eparties.csv
./raw_data/Parties/NamRoles.csv
./raw_data/Taxonomy/AutBasio.csv
./raw_data/Taxonomy/AutCombA.csv
./raw_data/Taxonomy/etaxonom.csv

In [33]:
for csv_file in csv_list:
    with open(csv_file.replace('.csv', '_clean.csv'),'w', encoding='utf-8') as outfile:
        with open(csv_file,'r', encoding='latin1') as infile:
            for line in infile:
                line = line.replace('\x00', '').strip()
                if len(line):
                    outfile.write(line + '\n')